
.conteudo_modal form{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 300px;
    padding: 20px 20px 20px 20px;
    gap: 1rem;
    background-color: aqua;
}

.conteudo_modal form label{
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo_modal{
    border: solid rgb(0, 0, 0);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 1px;
  font-size: 14px;
}

.erro {
  color: red;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: -6px;
}